/* Banner style */
.body-color {
    margin: 0;
    padding: 0;
    background: #FFF;
}

.banner {
    border-radius: 20px;
    margin: 0 auto;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 50px;
    width: 1320px;
    height: 600px;
}


.img-back {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../resources/Banner\ Image.png);
    width: 1320;
    height: 600px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
}

.banner-tittle {
    padding: 140px 340px 200px;
    margin-top: 80px;
    color: #FFF;


}

.banner-tittle h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
}

.banner-tittle h2 {
    font-size: 72px;
    font-weight: 900;
    margin-top: 30px;
    width: 632px;
    text-align: center;
}

/* Second Banner Style */

.second-banner-style {
    color: #FFF;
}

.btn-banner-tittle {
    padding: 126px 90px 140px 126px;
}

.second-banner-tittle {

    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
    width: 642px;
}

.second-banner-description {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
}

.second-banner-style {
    display: flex;
}

.second-banner-img {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin-top: 900px;
    margin-left: 20px;
    border-radius: 10px;
}

.section-banner {
    display: flex;
    justify-content: space-between;
}

.img {
    display: flex;
    width: 320px;
    height: 465px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    padding: 10px;
}

.img-add {
    padding: 65px 135px 65px 0;
}

/* Categori style */
.categori {
    text-align: center;
    margin-left: 250px;
    margin-right: 245px;
    font-family: Inter;
}

.offer {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    ;
}

.details {
    color: #F00;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
}

.all {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
}

.holiday-img {
    width: 802.9px;
    height: 500px;
    margin-bottom: 120px;
}

/* Third Section Style */
.third-section {
    background-color: #FF0000;
    width: 1320px;
    flex-shrink: 0;
    height: 480px;
    margin: 120px 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10), rgba(255, 0, 0, 0.00));
    margin-left: 15px;
    border-radius: 5px;

}

.headiong {
    color: #070211;
    font-family: Inter;
    font-size: 20px;
    text-align: center;
    padding: 100px 385px 45px;
}

.btn {
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;

}

.third-section-btn {
    padding: 10px 20px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    background: #F00;
    border: none;
}

/* Forth Section Styless */

.container-section {
    display: flex;
}

.container-tittle {
    padding: 100px 70px 225px 50px;
}

.container-tittle h2 {
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-right: 30px;
}

.container-tittle h1 {
    padding-top: 0;
    padding-bottom: 20px;
    padding-bottom: 30px;
    padding-left: 10px;
}

.container {
    text-align: left;
    padding-right: 50px;
}

.container h2 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    position: relative;
    right: 55px;
    top: 30px;

}

.container h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    position: relative;
    right: 45px;
}

.container-description {
    color: black font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
    position: relative;
    right: 20px;
    bottom: 43px;
    padding-left: 80px;
    padding-top: 0;
}

.container-circle {
    height: 135px;
    width: 270px;
    padding: 120px 115px 120px 0;
    border: 10px solid #F00;
    border-radius: 100%;
    position: relative;
    top: 100px;
    right: 50px;
}

.circle-img {
    position: relative;
    bottom: 280px;
    right: 30px;
}

.second-container h2 {
    font-size: 48px;
    font-weight: 700;
    padding: 150px 13px 43px 120px;
}

.second-container-description {
    color: rgba(0, 0, 0, 0.7) font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 276px;
    position: relative;
    left: 89px;
    bottom: 30px;
}

.new-img {
    width: 140px;
    height: 140px;
    position: relative;
    left: 83px;
    bottom: 30px;
}

/* holiday-sale Style */

.holiday-sale {
    color: #070211;
    text-align: center;
    font-family: Inter;
}

.hoiday-sale h1 {
    font-size: 24px;
    font-weight: 500;
    position: relative;
    bottom: 160px;
}

.holiday-sale h2 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    position: relative;
    bottom: 60px;
}

.holiday-description {
    font-size: 20px;
    font-weight: 500;
    width:695px;
    position: relative;
    left: 300px;
    bottom: 100px;
}